  <li class="bg">
    <div class="block header">
      	<span class="nm"><a href="https://glaze.hoffy.no?id={{objectid}}" target="_blank">{{this.name}}</a></span>
    </div>
    <div class="block">
        <div style="float: left; text-align: left;">
            <div class="block time">
              <span class="crets">{{geeklists.0.chgts}}</span>
            </div>
	    </div class="block">
		{{#if active}}
	      		<span class="syncStatus syncInactive" id="glaze-hdr-update">ACTIVE</span>
		{{/if}}
		{{else}}
	      		<span class="syncStatus syncActive" id="glaze-hdr-update">INACTIVE</span>
	    </div>
            <div class="block">
		    <p>
		      {{#if isSingleList}}
			<span class="smallbox tp tpExpansion"><a href="https://glaze.hoffy.no?id={{geeklists.0.objectid}}&listtype=listoflists" target="blank_">Geeklist</a></span>
		      {{/if}}
		      {{#if isPreview}}
			<span class="smallbox tp tpCollection"><a href="https://glaze.hoffy.no?id={{geeklists.0.objectid}}&releasetype=collection" target="blank_">Preview</a></span>
		      {{/if}}
		      {{#if isListOfLists}}
			<span class="smallbox tp tpCollection"><a href="https://glaze.hoffy.no?id={{geeklists.0.objectid}}&releasetype=collection" target="blank_">Geeklist of geeklists</a></span>
		      {{/if}}
		    </p>
            </div>

            <div class="block">
              <ul>
                <li><i class="fas fa-calendar"></i> {{yearpublished}}</li>
                <li><i class="far fa-thumbs-up"></i>{{thumbs}}</li>
                <li><i class="fas fa-buffer"></i> {{depth}} </li>
                <li><i class="fas fa-hashtag"></i> {{numgames}} </li>
                <li><i class="fas fa-list"></i> {{numlists}} </li>
              </ul>
            </div>
        </div>
    </div>
  </li> 
