  <li class="bg">
    <div class="block header">
      	<span class="nm"><a href="https://glaze.hoffy.no?id={{objectid}}" target="_blank">{{name}}</a></span>
    </div>
    <div class="block">
        <div style="float: left; text-align: left;">
            <div class="block time">
              <span class="crets">{{! geeklists.0.chgts}}</span>
            </div>
	    </div class="block">
		{{#if update}}
	      		<a href="https://glaze.hoffy.no?active={{update}}" target="blank_"><span class="syncStatus syncActive" id="glaze-hdr-update">ACTIVE</span></a>
		{{else}}
	      		<a href="https://glaze.hoffy.no?active={{update}}" target="blank_"><span class="syncStatus syncInactive" id="glaze-hdr-update">INACTIVE</span></a>
		{{/if}}
	    </div>
            <div class="block">
		    <p>
			<span class="smallbox tp tpExpansion"><a href="https://glaze.hoffy.no?listtype={{type}}" target="blank_">{{type}}</a></span>
		    </p>
            </div>

            <div class="block">
              <ul>
		<!-- Linking year should allow filtering on that -->
                <li><i class="fas fa-calendar"></i> <a href="https://glaze.hoffy.no?listyear={{year}}" target="blank_">{{year}}</a></li>
                <li><i class="far fa-thumbs-up"></i> ? {{! thumbs}}</li>
                <li><i class="fas fa-buffer"></i> ? {{! depth}} </li>
                <li><i class="fas fa-hashtag"></i> ? {{! numgames}} </li>
                <li><i class="fas fa-list"></i> ? {{! numlists}} </li>
                <li><i class="far fa-object-group"></i> <a href="https://glaze.hoffy.no?listgroup={{group}}" target="blank_">{{group}}</a> </li>
              </ul>
            </div>
        </div>
    </div>
  </li> 
