  <li class="bg" data-obsies="{{obsies}}" data-tobsies="{{tobsies}}" data-probsies="{{probsies}}">
    <div class="block header">
    	{{#each name}}
        {{#if this.primary}}
      		<span class="nm"><a href="https://www.boardgamegeek.com/boardgame/{{../bgid}}" target="_blank">{{this.name}}</a></span>
        {{/if}}
      {{else}}
      	  <span class="nm"><a href="https://www.boardgamegeek.com/boardgame/{{../bgid}}" target="_blank">Unnamed boardgame</a>
      {{/each}}
    </div>
    <div class="block time">
      <span class="crets">{{geeklists.0.crets}}</span>
    </div>
    <div class="block">
    <p>
      {{#unless expands.length}}
      	<span class="tp tpBoardgame">Boardgame</span>
      {{/unless}}
      {{#if expands.length}}
      	<span class="tp tpExpansion">Expansion</span>
      {{/if}}
      {{#if boardgamecompilation.length}}
      	<span class="tp tpCollection">Collection</span>
      {{/if}}
      {{#if boardgameimplementation.length}}
      	<span class="tp tpReimplementation">Reimpl.</span>
      {{/if}}
      {{#if boardgameintegration.length}}
      	<span class="tp tpIntegrates">Integrates</span>
      {{/if}} 
    </p>
    </div>


    <div class="block">
      <ul>
        <li><i class="fas fa-calendar"></i> {{yearpublished}}</li>
        <li><i class="fas fa-users"></i> {{minplayers}} - {{maxplayers}}</li>
        <li><i class="far fa-clock"></i> {{minplaytime}} - {{maxplaytime}}</li>
        <li><i class="far fa-thumbs-up"></i> {{geeklists.0.latest.thumbs}} </li>
        <li><i class="fas fa-hashtag"></i> {{geeklists.0.latest.cnt}} </li>
      </ul>
    </div>
    <div class="block topmarg-10 details-bg">
      {{> render_attr attrs=boardgamemechanic attrnm="boardgamemechanic" icon="fas fa-wrench"}}
      {{> render_attr attrs=boardgamedesigner attrnm="boardgamedesigner" icon="fas fa-pen-fancy"}}
      {{> render_attr attrs=boardgameartist attrnm="boardgameartist" icon="fas fa-paint-brush"}}
      {{> render_attr attrs=boardgamecategory attrnm="boardgamecategory" icon="fas fa-tag"}}
      {{> render_attr attrs=boardgamefamily attrnm="boardgamefamily" icon="fas fa-user-friends"}}
    </div>
    <div class="block">
      <ul class="toggleDetails">
        <li><i class="fa fa-angle-down obs-caret"></i></li>
      </ul>
    </div>
  </li> 
